CZ/XSD/CominHub.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CominHub" targetNamespace="http://www.cs.mfcr.cz/schemas/COMINHub" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.cs.mfcr.cz/schemas/COMINHub" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.cs.mfcr.cz/schemas/COMINHub" xmlns="http://www.cs.mfcr.cz/schemas/COMINHub/Response1_0">
            <xsd:import schemaLocation=".\Send.xsd" namespace="http://www.cs.mfcr.cz/schemas/COMINHub/Send1_0"/>
            <xsd:import schemaLocation=".\Response.xsd" namespace="http://www.cs.mfcr.cz/schemas/COMINHub/Response1_0"/>
            <xsd:import schemaLocation=".\Poll.xsd" namespace="http://www.cs.mfcr.cz/schemas/COMINHub/Poll1_0"/>
            <xsd:import schemaLocation=".\Get.xsd" namespace="http://www.cs.mfcr.cz/schemas/COMINHub/Get1_0"/>
            <xsd:import schemaLocation=".\Confirm.xsd" namespace="http://www.cs.mfcr.cz/schemas/COMINHub/Confirm1_0"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CominHub_ProcessSend_InputMessage">
        <wsdl:part name="Send" element="q1:Send" xmlns:q1="http://www.cs.mfcr.cz/schemas/COMINHub/Send1_0"/>
    </wsdl:message>
    <wsdl:message name="CominHub_ProcessSend_OutputMessage">
        <wsdl:part name="Response" element="q2:Response" xmlns:q2="http://www.cs.mfcr.cz/schemas/COMINHub/Response1_0"/>
    </wsdl:message>
    <wsdl:message name="CominHub_ProcessPoll_InputMessage">
        <wsdl:part name="Poll" element="q3:Poll" xmlns:q3="http://www.cs.mfcr.cz/schemas/COMINHub/Poll1_0"/>
    </wsdl:message>
    <wsdl:message name="CominHub_ProcessPoll_OutputMessage">
        <wsdl:part name="Response" element="q4:Response" xmlns:q4="http://www.cs.mfcr.cz/schemas/COMINHub/Response1_0"/>
    </wsdl:message>
    <wsdl:message name="CominHub_ProcessGet_InputMessage">
        <wsdl:part name="Get" element="q5:Get" xmlns:q5="http://www.cs.mfcr.cz/schemas/COMINHub/Get1_0"/>
    </wsdl:message>
    <wsdl:message name="CominHub_ProcessGet_OutputMessage">
        <wsdl:part name="Response" element="q6:Response" xmlns:q6="http://www.cs.mfcr.cz/schemas/COMINHub/Response1_0"/>
    </wsdl:message>
    <wsdl:message name="CominHub_ProcessConfirm_InputMessage">
        <wsdl:part name="Confirm" element="q7:Confirm" xmlns:q7="http://www.cs.mfcr.cz/schemas/COMINHub/Confirm1_0"/>
    </wsdl:message>
    <wsdl:message name="CominHub_ProcessConfirm_OutputMessage">
        <wsdl:part name="Response" element="q8:Response" xmlns:q8="http://www.cs.mfcr.cz/schemas/COMINHub/Response1_0"/>
    </wsdl:message>
    <wsdl:portType name="CominHub">
        <wsdl:operation name="ProcessSend">
            <wsdl:input wsaw:Action="http://www.cs.mfcr.cz/schemas/COMINHub/ProcessSend" message="tns:CominHub_ProcessSend_InputMessage"/>
            <wsdl:output wsaw:Action="ProcessSendResponse" message="tns:CominHub_ProcessSend_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessPoll">
            <wsdl:input wsaw:Action="http://www.cs.mfcr.cz/schemas/COMINHub/ProcessPoll" message="tns:CominHub_ProcessPoll_InputMessage"/>
            <wsdl:output wsaw:Action="ProcessPollResponse" message="tns:CominHub_ProcessPoll_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessGet">
            <wsdl:input wsaw:Action="http://www.cs.mfcr.cz/schemas/COMINHub/ProcessGet" message="tns:CominHub_ProcessGet_InputMessage"/>
            <wsdl:output wsaw:Action="ProcessGetResponse" message="tns:CominHub_ProcessGet_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessConfirm">
            <wsdl:input wsaw:Action="http://www.cs.mfcr.cz/schemas/COMINHub/ProcessConfirm" message="tns:CominHub_ProcessConfirm_InputMessage"/>
            <wsdl:output wsaw:Action="ProcessConfirmResponse" message="tns:CominHub_ProcessConfirm_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_CominHub" type="tns:CominHub">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ProcessSend">
            <soap:operation soapAction="http://www.cs.mfcr.cz/schemas/COMINHub/ProcessSend" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessPoll">
            <soap:operation soapAction="http://www.cs.mfcr.cz/schemas/COMINHub/ProcessPoll" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessGet">
            <soap:operation soapAction="http://www.cs.mfcr.cz/schemas/COMINHub/ProcessGet" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProcessConfirm">
            <soap:operation soapAction="http://www.cs.mfcr.cz/schemas/COMINHub/ProcessConfirm" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CominHub">
        <wsdl:port name="BasicHttpBinding_CominHub" binding="tns:BasicHttpBinding_CominHub">
            <soap:address location="http://172.20.10.89:18523/CominHub"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>