CZ/XSD/Send.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.cs.mfcr.cz/schemas/COMINHub/Send1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:extimp="http://www.cs.mfcr.cz/schemas/EcrEnvelope/V_3.0" xmlns="http://www.cs.mfcr.cz/schemas/COMINHub/Send1_0">
  <xs:import schemaLocation=".\EcrEnvelope.xsd" namespace="http://www.cs.mfcr.cz/schemas/EcrEnvelope/V_3.0" />
  <xs:annotation>
    <xs:documentation>Send message</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Send_Authorization_CommunicationID">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Send_Authorization_Password">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Send_Authorization">
    <xs:sequence minOccurs="0" />
    <xs:attribute name="CommunicationID" type="Send_Authorization_CommunicationID" use="required">
      <xs:annotation>
        <xs:documentation>Communication authorization ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Password" type="Send_Authorization_Password" use="required">
      <xs:annotation>
        <xs:documentation>Password</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="Send_ClientApplication_Identification">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Send_ClientApplication_Version">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Send_ClientApplication_Language">
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
      <xs:enumeration value="CS" />
      <xs:enumeration value="EN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Send_ClientApplication">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Identification" type="Send_ClientApplication_Identification">
        <xs:annotation>
          <xs:documentation>Client application identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Version" type="Send_ClientApplication_Version">
        <xs:annotation>
          <xs:documentation>Client application version</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Language" type="Send_ClientApplication_Language">
        <xs:annotation>
          <xs:documentation>Client application language - If element is not provided, default value CS is used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Send">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Authorization" type="Send_Authorization">
        <xs:annotation>
          <xs:documentation>Authorization</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ClientApplication" type="Send_ClientApplication">
        <xs:annotation>
          <xs:documentation>Client application</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:group minOccurs="1" maxOccurs="1" ref="extimp:Send_EcrEnvelope" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Send" type="Send">
    <xs:annotation>
      <xs:documentation>Send message</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>